<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>password</key>
			<string></string>
			<key>export</key>
			<array/>
			<key>acl</key>
			<array/>
			<key>issuer</key>
			<string>MHcxFzAVBgNVBAMMDmRlbW8ubG9jYWxob3N0MRkwFwYDVQQKDBBDZXJ0aWZpY2F0ZSBTeW5jMRIwEAYDVQQLDAlUZXN0IFVuaXQxCzAJBgNVBAgMAktTMQswCQYDVQQGEwJVUzETMBEGA1UEBwwKU21hbGx2aWxsZQ==</string>
			<key>keychain</key>
			<string>demo.keychain</string>
		</dict>
	</array>
</dict>
</plist>
