<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>acl_name</key>
	<string>com.dropbox.certificate-sync.acl</string>
	<key>import</key>
	<array>
		<dict>
			<key>path</key>
			<string>rsa_key.cer</string>
			<key>keychain</key>
			<string>demo.keychain</string>
		</dict>
		<dict>
			<key>label</key>
			<string>demo private key</string>
			<key>keychain</key>
			<string>demo.keychain</string>
			<key>claim_owner</key>
			<true/>
			<key>acl</key>
			<array>
				<string>bundle:com.google.Chrome</string>
			</array>
			<key>path</key>
			<string>rsa_key.pem</string>
		</dict>
	</array>
	<key>existing</key>
	<array>
		<dict>
			<key>claim_owner</key>
			<true/>
			<key>export</key>
			<array>
				<dict>
					<key>format</key>
					<string>pem-cer</string>
					<key>path</key>
					<string>export-certificate-example.cer</string>
				</dict>
				<dict>
					<key>format</key>
					<string>pem</string>
					<key>path</key>
					<string>export-pem-example.pem</string>
				</dict>
			</array>
			<key>acl</key>
			<array>
				<string>bundle:com.google.Chrome</string>
			</array>
			<key>issuer</key>
			<string>MHcxFzAVBgNVBAMMDmRlbW8ubG9jYWxob3N0MRkwFwYDVQQKDBBDZXJ0aWZpY2F0ZSBTeW5jMRIwEAYDVQQLDAlUZXN0IFVuaXQxCzAJBgNVBAgMAktTMQswCQYDVQQGEwJVUzETMBEGA1UEBwwKU21hbGx2aWxsZQ==</string>
			<key>keychain</key>
			<string>demo.keychain</string>
		</dict>
	</array>
</dict>
</plist>
